# Scraping a table from Wikipedia

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [2]:
with urlopen('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)') as response:
    soup = BeautifulSoup(response, 'html.parser')
table = soup.find("table", {"class":"wikitable"})
table_body = table.find('tbody')
rows = table_body.find_all('tr')
i=1
for row in rows:
    print(f"Row number: {i}")
    print(row.text)
    print('------------')
    i+=1

Row number: 1

List by the IMF (2020 estimates)[5]

List by the World Bank (2019)[6]

List by the CIA (1993–2017)[7]

------------
Row number: 2




Rank
Country/Territory
GDP(millions of current Int$)



 World
138,352,382
[8]


1
 China
27,804,953



2
 United States
20,289,987



—
 European Union[n 2]
18,377,114
[10]


3
 India
11,321,280



4
 Japan
5,451,452



5
 Russia
4,176,350



6
 Germany
4,160,925



7
 Indonesia
3,778,134



8
 Brazil
3,316,920



9
 United Kingdom
2,975,557



10
 France
2,860,018



11
 Mexico
2,458,339



12
 Korea, South
2,307,718



13
 Turkey
2,257,987



14
 Italy
2,244,767



15
 Saudi Arabia
1,869,288



16
 Canada
1,797,170



17
 Spain
1,780,996



18
 Egypt
1,427,432



19
 Iran
1,411,093



—
 Taiwan
1,293,972



20
 Thailand
1,293,924



21
 Australia
1,279,361



22
 Poland
1,236,132



23
 Pakistan
1,190,555



24
 Nigeria
1,181,399



25
 Malaysia
1,064,795



26
 Philippines
1,040,413



27
 Vietnam
1,035,051



28
 Netherlands
935,911



29
 Argentina
864,887



30
 Bangladesh
860,916



31
 Colombia
771,957



32
 South Africa
762,826



33
 United Arab Emirates
722,670



34
 Iraq
679,098



35
 Algeria
638,363



36
 Singapore
576,839



37
 Belgium
536,621



38
  Switzerland
535,832



39
 Kazakhstan
530,646



40
 Sweden
529,778



41
 Romania
525,051



42
 Chile
475,964



—
 Hong Kong
461,894



43
 Peru
457,320



44
 Austria
446,265



45
 Ireland
392,014



46
 Czech Republic
388,587



47
 Norway
384,298



48
 Ukraine
380,545



49
 Myanmar
366,079



50
 Qatar
345,455



51
 Israel
334,675



52
 Hungary
327,410



53
 Portugal
321,199



54
 Morocco
317,001



55
 Uzbekistan
310,738



56
 Kuwait
307,193



57
 Sri Lanka
304,458



58
 Denmark
300,621



59
 Greece
293,009



60
 Ethiopia
253,102



61
 Finland
251,431



62
 Ghana
209,179



63
 Oman
200,203



64
 Angola
199,329



65
 Dominican Republic
198,725



66
 Tanzania
198,652



67
 New Zealand
194,919



68
 Kenya
194,401



69
 Ecuador
192,056



70
 Slovakia
187,264



71
 Belarus
184,593



72
 Azerbaijan
184,418



73
 Bulgaria
165,130



74
 Sudan
163,606



75
 Côte d'Ivoire
163,594



76
 Guatemala
150,731



77
 Tunisia
143,234



78
 Serbia
127,096



79
 Turkmenistan
124,884



—
 Puerto Rico
123,851



80
 Uganda
123,653



81
 Panama
110,399



82
 Croatia
103,111



83
 Cameroon
100,013



84
   Nepal
97,365



85
 Paraguay
95,949



86
 Lithuania
95,286



87
 Jordan
93,256



88
 Bolivia
91,225



89
 Costa Rica
89,597



90
 Congo, Democratic Republic of the
81,806



91
 Uruguay
80,817



92
 Cambodia
76,218



93
 Afghanistan
74,792



94
 Bahrain
74,649



95
 Lebanon
74,628



96
 Zambia
73,662



97
 Slovenia
73,276



98
 Yemen
70,414



99
 Senegal
66,438



100
 Luxembourg
65,868



101
 Laos
57,912



102
 Latvia
54,700



—
 Macau
53,662



103
 Madagascar
53,409



104
 El Salvador
52,888



105
 Honduras
50,496



106
 Burkina Faso
48,553



107
 Mali
48,443



108
 Bosnia and Herzegovina
47,540



109
 Mongolia
46,550



110
 Georgia
46,286



111
 Mozambique
45,990



112
 Estonia
44,503



113
 Trinidad and Tobago
43,178



114
 Benin
42,749



115
 Botswana
41,809



116
 Gabon
39,584



117
 Albania
38,078



118
 Brunei
37,342



119
 Zimbabwe
37,039



120
 Niger
35,211



121
 Libya
34,753



122
 Cyprus
34,745



123
 Tajikistan
34,692



124
 Guinea
34,585



125
 Papua New Guinea
34,502



126
 North Macedonia
33,517



127
 Armenia
33,141



128
 Nicaragua
32,991



129
 Rwanda
32,258



130
 Chad
32,065



131
 Congo, Republic of the
30,702



132
 Mauritius
29,631



133
 Equatorial Guinea
26,828



134
 Moldova
26,642



135
 Jamaica
26,516



136
 Namibia
26,261



137
 Malawi
25,570



138
 Kyrgyzstan
25,187



139
 Mauritania
25,109



140
 South Sudan
23,320



141
 Malta
22,496



—
 Kosovo
21,155



142
 Haiti
20,135



143
 Iceland
18,720



144
 Togo
15,217



145
 Sierra Leone
12,868



146
 Somalia
12,417



147
 Eswatini
12,368



148
 Bahamas
11,807



149
 Montenegro
11,549



150
 Guyana
10,989



151
 Fiji
10,078



152
 Suriname
8,956



153
 Burundi
8,281



154
 Bhutan
8,200



155
 Maldives
7,839



156
 Eritrea
6,640



157
 Gambia, The
6,614



158
 Lesotho
6,593



159
 Djibouti
6,362



160
 Liberia
6,160



161
 Barbados
5,051



162
 Central African Republic
4,270



163
 Cape Verde
4,194



164
 Aruba
3,883



165
 Guinea-Bissau
3,664



166
 Belize
2,974



167
 Seychelles
2,746



168
 St. Lucia
2,702



169
 Timor-Leste
2,613



170
 Comoros
2,516



171
 Antigua and Barbuda
2,506



172
 San Marino
1,842



173
 Grenada
1,681



174
 St. Kitts and Nevis
1,532



175
 Solomon Islands
1,433



176
 St. Vincent and the Grenadines
1,327



177
 Samoa
1,132



178
 Vanuatu
829



179
 Dominica
813



180
 São Tomé and Príncipe
705



181
 Tonga
620



182
 Micronesia
363



183
 Palau
256



184
 Kiribati
253



185
 Marshall Islands
211



186
 Nauru
124



187
 Tuvalu
49






Rank
Country/Territory
GDP(millions of current Int$)



 World
135,669,545


1
 China
23,460,170


2
 United States
21,427,700


—

 European Union[n 2]
20,794,743


3
 India
9,611,679


4
 Japan
5,459,155


5
 Germany
4,659,795


6
 Russia
4,281,807


7
 Indonesia
3,329,169


8
 France
3,315,118


9
 United Kingdom
3,255,484


10
 Brazil
3,220,373


11
 Italy
2,664,946


12
 Mexico
2,603,907


13
 Turkey
2,325,617


14
 Korea, South
2,224,985


15
 Spain
1,987,305


16
 Canada
1,929,897


17
 Saudi Arabia
1,676,022


18
 Australia
1,352,432


19
 Thailand
1,338,781


20
 Poland
1,299,277


21
 Egypt
1,229,832


22
 Iran (2017)
1,172,666


23
 Nigeria
1,074,822


24
 Pakistan
1,057,896


25
 Netherlands
1,034,543


26
 Argentina
1,031,215


27
 Philippines
1,003,038


28
 Malaysia
943,336


29
 Vietnam
807,817


30
 Bangladesh
807,200


31
 Colombia
787,497


32
 South Africa
761,206


33
 United Arab Emirates
682,969


34
 Belgium
626,400


35
 Romania
625,164


36
  Switzerland
608,721


37
 Singapore
578,204


38
 Sweden
574,078


39
 Ukraine
560,702


40
 Austria
524,728


41
 Algeria
508,891


42
 Kazakhstan
508,088


43
 Chile
476,738


44
 Hong Kong
468,275


45
 Czech Republic
454,269


46
 Iraq
445,464


47
 Ireland
436,037


48
 Peru
435,002


49
 Israel
381,993


50
 Portugal
374,533


51
 Norway
357,410


52
 Denmark
348,125


53
 Greece
336,486


54
 Hungary
331,973


55
 Sri Lanka
296,959


56
 Morocco
289,993


57
 Myanmar
289,428


58
 Finland
283,324


59
 Qatar
273,269


60
 Ethiopia
259,093


61
 Uzbekistan
244,761


62
 Kenya
237,073


63
 Angola
220,539


64
 Kuwait
218,398


65
 New Zealand
216,115


66
 Dominican Republic
205,999


67
 Ecuador
205,822


68
 Belarus
188,800


69
 Slovak Republic
186,409


70
 Sudan
176,499


71
 Ghana
171,464


72
 Bulgaria
171,333


73
 Tanzania
155,993


74
 Azerbaijan
150,358


75
 Guatemala
149,362


76
 Oman
144,536


77
 Côte d'Ivoire
140,293


78
 Panama
139,124


79
 Serbia
131,878


80
 Tunisia
130,997


81
 Croatia
121,917


82
 Puerto Rico
114,808


83
 Libya
107,104


84
 Lithuania
106,497


85
 Lebanon
105,080


86
 Bolivia
104,609


87
 Jordan
104,215


88
 Costa Rica
103,144


89
   Nepal
101,801


90
 Uganda
100,565


91
 Congo, Democratic Republic of the
99,241


92
 Cameroon
98,436


93
 Paraguay
93,062


94
 Turkmenistan
88,908


95
 Afghanistan
87,251


96
 Slovenia
84,889


97
 Macau
82,683


98
 Uruguay
77,732


99
 Bahrain
76,958


100
 Cambodia
75,355


101
 Luxembourg
75,189


102
 Zambia
64,723


103
 Latvia
61,600


104
 El Salvador
58,984


105
 Laos
58,436


106
 Georgia
58,174


107
 Honduras
58,139


108
 Senegal
57,617


109
 Bosnia and Herzegovina
52,128


110
 Estonia
51,486


111
 Mali
47,648


112
 Burkina Faso
46,340


113
 Madagascar
46,237


114
 Zimbabwe
43,255


115
 Botswana
42,625


116
 Armenia
42,058


117
 Albania
41,372


118
 Mongolia
41,346


119
 Mozambique
40,494


120
 Benin
40,402


121
 Papua New Guinea
40,102


122
 Trinidad and Tobago
38,028


123
 North Macedonia
37,117


124
 Nicaragua
36,859


125
 Cyprus
36,377


126
 Moldova
36,075


127
 Kyrgyzstan
35,324


128
 Guinea
34,103


129
 Gabon
33,645


130
 Tajikistan
32,808


131
 Mauritius
30,304


132
 Jamaica
29,972


133
 Niger
29,595


134
 Rwanda
29,275


135
 Brunei
28,022


136
 West Bank and Gaza (2018)
26,479


137
 Chad
26,234


138
 Equatorial Guinea
26,207


139
 Namibia
25,037


140
 Mauritania
24,495


141
 Malta
22,947


142
 Iceland
21,701


143
 Kosovo
21,242


144
 Malawi
20,559


145
 Haiti
20,280


146
 Congo, Republic of the
18,481


147
 Bahamas, The
14,514


148
 Montenegro
14,302


149
 Sierra Leone
13,982


150
 Togo
13,433


151
 Fiji
12,840


152
 Maldives
10,459


153
 Eswatini
10,388


154
 Suriname
9,886


155
 Burundi
9,026


156
 Bhutan
8,761


157
 Guyana
7,910


158
 Liberia
7,342


159
 Lesotho
6,126


160
 Djibouti
5,596


161
 Gambia, The
5,396


162
 Barbados
4,675


163
 Central African Republic
4,669


164
 Cayman Islands
4,651


165
 Timor-Leste
4,206


166
 Cape Verde
4,108


167
 Curaçao
4,086


168
 Aruba (2017)
4,051


169
 Guinea-Bissau
3,980


170
 Seychelles
2,954


171
 Saint Lucia
2,941


172
 Belize
2,848


173
 Comoros
2,731


174
 Antigua and Barbuda
2,216


175
 San Marino (2017)
2,052


176
 Grenada
2,011


177
 Solomon Islands
1,651


178
 Saint Kitts and Nevis
1,450


179
 St. Vincent and the Grenadines
1,436


180
 Samoa
1,338


181
 Sint Maarten (Dutch part)
1,309


182
 Turks and Caicos Islands
1,019


183
 Vanuatu
982


184
 Dominica
909


185
 Sao Tome and Principe
888


186
 Tonga
662


187
 Micronesia, Federated States of
400


188
 Palau
331


189
 Kiribati
279


190
 Marshall Islands
233


191
 Nauru
152


192
 Tuvalu
52





Rank
Country/Territory
GDP(billions of current Int$)
Year



 World
127,000


2017 est.


1
 China
23,120


2017 est.


—

 European Union[n 2]
20,850


2017 est.


2
 United States
19,360


2017 est.


3
 India
9,596


2017 est.


4
 Japan
5,405


2017 est.


5
 Germany
4,150


2017 est.


6
 Russia
4,000


2017 est.


7
 Indonesia
3,243


2017 est.


8
 Brazil
3,219


2017 est.


9
 United Kingdom
2,880


2017 est.


10
 France
2,826


2017 est.


11
 Mexico
2,406


2017 est.


12
 Italy
2,307


2017 est.


13
 Turkey
2,133


2017 est.


14
 Korea, South
2,027


2017 est.


15
 Saudi Arabia
1,789


2017 est.


16
 Spain
1,769


2017 est.


17
 Canada
1,764


2017 est.


18
 Iran
1,631


2017 est.


19
 Australia
1,235


2017 est.


20
 Thailand
1,229


2017 est.


21
 Egypt
1,199


2017 est.


—
 Taiwan
1,175


2017 est.


22
 Nigeria
1,118


2017 est.


23
 Poland
1,111


2017 est.


24
 Pakistan
1,056


2017 est.


25
 Malaysia
926

.1
2017 est.


26
 Netherlands
915

.2
2017 est.


27
 Argentina
911

.5
2017 est.


28
 Philippines
874

.5
2017 est.


29
 South Africa
757

.3
2017 est.


30
 Colombia
712

.5
2017 est.


31
 United Arab Emirates
691

.9
2017 est.


32
 Bangladesh
691

.5
2017 est.


33
 Iraq
660

.7
2017 est.


34
 Vietnam
643

.9
2017 est.


35
 Algeria
629

.3
2017 est.


36
 Belgium
526

.4
2017 est.


37
 Sweden
521

.7
2017 est.


38
  Switzerland
516

.7
2017 est.


39
 Singapore
513

.7
2017 est.


40
 Kazakhstan
474

.3
2017 est.


41
 Romania
474

.0
2017 est.


—
 Hong Kong
453

.0
2017 est.


42
 Chile
452

.1
2017 est.


43
 Austria
434

.1
2017 est.


44
 Peru
424

.6
2017 est.


45
 Venezuela
389

.4
2017 est.


46
 Norway
375

.9
2017 est.


47
 Czech Republic
372

.6
2017 est.


48
 Ukraine
366

.4
2017 est.


49
 Ireland
344

.8
2017 est.


50
 Qatar
341

.7
2017 est.


51
 Myanmar
330

.9
2017 est.


52
 Israel
315

.6
2017 est.


53
 Portugal
311

.3
2017 est.


54
 Kuwait
302

.5
2017 est.


55
 Morocco
300

.1
2017 est.


56
 Greece
299

.5
2017 est.


57
 Denmark
285

.5
2017 est.


58
 Hungary
283

.6
2017 est.


59
 Sri Lanka
278

.2
2017 est.


60
 Finland
242

.4
2017 est.


61
 Uzbekistan
221

.7
2017 est.


62
 Ethiopia
195

.8
2017 est.


63
 Angola
192

.0
2017 est.


64
 Ecuador
188

.5
2017 est.


65
 Oman
187

.9
2017 est.


66
 Sudan
186

.8
2017 est.


67
 New Zealand
185

.7
2017 est.


68
 Slovakia
178

.7
2017 est.


69
 Belarus
175

.9
2017 est.


70
 Dominican Republic
172

.6
2017 est.


71
 Azerbaijan
166

.8
2017 est.


72
 Kenya
163

.4
2017 est.


73
 Tanzania
162

.8
2017 est.


74
 Bulgaria
152

.4
2017 est.


75
 Guatemala
138

.3
2017 est.


76
 Tunisia
135

.9
2017 est.


77
 Cuba
132

.9
2016 est.


78
 Ghana
130

.2
2017 est.


—
 Puerto Rico
127

.3
2017 est.


79
 Serbia
106

.6
2017 est.


80
 Turkmenistan
103

.5
2017 est.


81
 Croatia
100

.2
2017 est.


82
 Panama
99

.43
2017 est.


83
 Cote d'Ivoire
96

.27
2017 est.


84
 Lithuania
90

.63
2017 est.


85
 Jordan
89

.05
2017 est.


86
 Uganda
88

.61
2017 est.


87
 Lebanon
87

.89
2017 est.


88
 Costa Rica
85

.20
2017 est.


89
 Bolivia
83

.50
2017 est.


90
 Cameroon
81

.55
2017 est.


91
   Nepal
78

.55
2017 est.


92
 Uruguay
78

.41
2017 est.


—
 Macau
73

.58
2017 est.


93
 Slovenia
70

.36
2017 est.


94
 Bahrain
69

.77
2017 est.


95
 Afghanistan
69

.51
2017 est.


96
 Yemen
68

.95
2017 est.


97
 Zambia
68

.90
2017 est.


98
 Paraguay
68

.05
2017 est.


99
 Congo, Democratic Republic of the
67

.99
2017 est.


100
 Luxembourg
64

.39
2017 est.


101
 Cambodia
64

.21
2017 est.


102
 Libya
63

.14
2017 est.


103
 El Salvador
56

.90
2017 est.


104
 Latvia
53

.47
2017 est.


105
 Syria
50

.28
2015 est.


106
 Laos
49

.21
2017 est.


107
 Honduras
45

.68
2017 est.


108
 Bosnia and Herzegovina
43

.85
2017 est.


109
 Senegal
43

.07
2017 est.


110
 Trinidad and Tobago
42

.78
2017 est.


111
 Estonia
41

.20
2017 est.


112
 Mali
40

.98
2017 est.


113
 Korea, North
40

.00
2015 est.


114
 Madagascar
39

.81
2017 est.


115
 Botswana
39

.55
2017 est.


116
 Georgia
39

.32
2017 est.


117
 Mongolia
38

.40
2017 est.


118
 Mozambique
37

.39
2017 est.


119
 Gabon
36

.75
2017 est.


120
 Nicaragua
36

.22
2017 est.


121
 Albania
35

.87
2017 est.


122
 Burkina Faso
35

.68
2017 est.


123
 Zimbabwe
33

.87
2017 est.


124
 Brunei
32

.91
2017 est.


125
 North Macedonia
31

.55
2017 est.


126
 Cyprus
31

.19
2017 est.


127
 Papua New Guinea
30

.84
2017 est.


128
 Chad
29

.64
2017 est.


129
 Equatorial Guinea
29

.38
2017 est.


130
 Congo, Republic of the
29

.16
2017 est.


131
 Tajikistan
27

.67
2017 est.


132
 Mauritius
27

.44
2017 est.


133
 Armenia
27

.21
2017 est.


134
 Namibia
27

.02
2017 est.


135
 Guinea
26

.45
2017 est.


136
 Jamaica
26

.20
2017 est.


137
 Benin
25

.29
2017 est.


138
 Rwanda
24

.61
2017 est.


139
 Kyrgyzstan
22

.64
2017 est.


140
 Malawi
22

.47
2017 est.


141
 Niger
21

.62
2017 est.


—
 West Bank
21

.22
2014 est.


142
 Moldova
20

.07
2017 est.


143
 Haiti
19

.88
2017 est.


144
 South Sudan
19

.75
2017 est.


—
 Kosovo
19

.38
2017 est.


145
 Malta
18

.53
2017 est.


146
 Iceland
17

.73
2017 est.


147
 Somalia
17

.47
2017 est.


148
 Mauritania
17

.37
2017 est.


149
 Togo
12

.43
2017 est.


150
 Sierra Leone
11

.75
2017 est.


151
 Eswatini
11

.34
2017 est.


152
 Montenegro
10

.86
2017 est.


—
 New Caledonia
10

.77
2015 est.


153
 Eritrea
9

.631
2017 est.


154
 Bahamas, The
9

.339
2017 est.


155
 Fiji
8

.647
2017 est.


156
 Burundi
7

.985
2017 est.


157
 Suriname
7

.928
2017 est.


158
 Monaco
7

.672
2015 est.


159
 Lesotho
7

.448
2017 est.


—
 Isle of Man
7

.428
2014 est.


160
 Bhutan
7

.011
2017 est.


161
 Maldives
6

.896
2017 est.


162
 Guyana
6

.367
2017 est.


163
 Timor-Leste
6

.211
2017 est.


—
 French Polynesia
5

.490
2015 est.


—
 Bermuda
5

.198
2013 est.


—
 Jersey
5

.080
2015 est.


164
 Liechtenstein
4

.978
2014 est.


165
 Barbados
4

.919
2017 est.


—
 Guam
4

.882
2013 est.


166
 Liberia
3

.906
2017 est.


—
 U.S. Virgin Islands
3

.792
2013 est.


167
 Cape Verde
3

.734
2017 est.


168
 Djibouti
3

.640
2017 est.


169
 Gambia, The
3

.582
2017 est.


—
 Guernsey
3

.465
2015 est.


170
 Central African Republic
3

.395
2017 est.


171
 Andorra
3

.327
2015 est.


172
 Belize
3

.230
2017 est.


—
 Curaçao
3

.128
2012 est.


173
 Guinea-Bissau
3

.071
2017 est.


174
 Seychelles
2

.712
2017 est.


—
 Aruba
2

.516
2009 est.


—
 Cayman Islands
2

.507
2014 est.


175
 Antigua and Barbuda
2

.390
2017 est.


176
 Saint Lucia
2

.384
2017 est.


—
 Greenland
2

.173
2015 est.


177
 San Marino
2

.083
2017 est.


—
 Gibraltar
2

.044
2014 est.


—
 Faroe Islands
2

.001
2014 est.


178
 Grenada
1

.590
2017 est.


179
 Saint Kitts and Nevis
1

.528
2017 est.


180
 Comoros
1

.323
2017 est.


181
 Solomon Islands
1

.317
2017 est.


182
 Saint Vincent and the Grenadines
1

.281
2017 est.


183
 Samoa
1

.130
2017 est.


—
 Western Sahara
0

.9065
2007 est.


184
 Dominica
0

.8510
2017 est.


185
 Vanuatu
0

.7870
2017 est.


—
 American Samoa
0

.7110
2013 est.


—
 Northern Mariana Islands
0

.6820
2013 est.


186
 Sao Tome and Principe
0

.6820
2017 est.


—
 Turks and Caicos Islands
0

.6320
2007 est.


187
 Tonga
0

.5870
2017 est.


—
Saint Martin
0

.5615
2005 est.


—
 British Virgin Islands
0

.5000
2010 est.


—
 Sint Maarten
0

.3658
2014 est.


188
 Micronesia, Federated States of
0

.3470
2017 est.


189
 Palau
0

.3010
2017 est.


—
 Falkland Islands
0

.2818
2012 est.


—
 Cook Islands
0

.2441
2010 est.


190
 Kiribati
0

.2240
2017 est.


—
 Saint Pierre and Miquelon
0

.2153
2006 est.


191
 Marshall Islands
0

.1890
2017 est.


—
 Anguilla
0

.1754
2009 est.


192
 Nauru
0

.1590
2017 est.


—
 Wallis and Futuna
0

.0600
2004 est.


—
 Montserrat
0

.0438
2006 est.


193
 Tuvalu
0

.0420
2017 est.


—
 Saint Helena
0

.0311
2009 est.


—
 Niue
0

.0101
2003 est.


—
 Tokelau
0

.0015
1993 est.


------------
Row number: 3

Rank
Country/Territory
GDP(millions of current Int$)

------------
Row number: 4


 World
138,352,382
[8]

------------
Row number: 5

1
 China
27,804,953


------------
Row number: 6

2
 United States
20,289,987


------------
Row number: 7

—
 European Union[n 2]
18,377,114
[10]

------------
Row number: 8

3
 India
11,321,280


------------
Row number: 9

4
 Japan
5,451,452


------------
Row number: 10

5
 Russia
4,176,350


------------
Row number: 11

6
 Germany
4,160,925


------------
Row number: 12

7
 Indonesia
3,778,134


------------
Row number: 13

8
 Brazil
3,316,920


------------
Row number: 14

9
 United Kingdom
2,975,557


------------
Row number: 15

10
 France
2,860,018


------------
Row number: 16

11
 Mexico
2,458,339


------------
Row number: 17

12
 Korea, South
2,307,718


------------
Row number: 18

13
 Turkey
2,257,987


------------
Row number: 19

14
 Italy
2,244,767


------------
Row number: 20

15
 Saudi Arabia
1,869,288


------------
Row number: 21

16
 Canada
1,797,170


------------
Row number: 22

17
 Spain
1,780,996


------------
Row number: 23

18
 Egypt
1,427,432


------------
Row number: 24

19
 Iran
1,411,093


------------
Row number: 25

—
 Taiwan
1,293,972


------------
Row number: 26

20
 Thailand
1,293,924


------------
Row number: 27

21
 Australia
1,279,361


------------
Row number: 28

22
 Poland
1,236,132


------------
Row number: 29

23
 Pakistan
1,190,555


------------
Row number: 30

24
 Nigeria
1,181,399


------------
Row number: 31

25
 Malaysia
1,064,795


------------
Row number: 32

26
 Philippines
1,040,413


------------
Row number: 33

27
 Vietnam
1,035,051


------------
Row number: 34

28
 Netherlands
935,911


------------
Row number: 35

29
 Argentina
864,887


------------
Row number: 36

30
 Bangladesh
860,916


------------
Row number: 37

31
 Colombia
771,957


------------
Row number: 38

32
 South Africa
762,826


------------
Row number: 39

33
 United Arab Emirates
722,670


------------
Row number: 40

34
 Iraq
679,098


------------
Row number: 41

35
 Algeria
638,363


------------
Row number: 42

36
 Singapore
576,839


------------
Row number: 43

37
 Belgium
536,621


------------

In [3]:
for row in rows[4:198]:
    print(row.text)
    print('------------')

1
 China
27,804,953


------------

2
 United States
20,289,987


------------

—
 European Union[n 2]
18,377,114
[10]

------------

3
 India
11,321,280


------------

4
 Japan
5,451,452


------------

5
 Russia
4,176,350


------------

6
 Germany
4,160,925


------------

7
 Indonesia
3,778,134


------------

8
 Brazil
3,316,920


------------

9
 United Kingdom
2,975,557


------------

10
 France
2,860,018


------------

11
 Mexico
2,458,339


------------

12
 Korea, South
2,307,718


------------

13
 Turkey
2,257,987


------------

14
 Italy
2,244,767


------------

15
 Saudi Arabia
1,869,288


------------

16
 Canada
1,797,170


------------

17
 Spain
1,780,996


------------

18
 Egypt
1,427,432


------------

19
 Iran
1,411,093


------------

—
 Taiwan
1,293,972


------------

20
 Thailand
1,293,924


------------

21
 Australia
1,279,361


------------

22
 Poland
1,236,132


------------

23
 Pakistan
1,190,555


------------

24
 Nigeria
1,181,399


------------

25
 Malaysia
1,064,795


------------

26
 Philippines
1,040,413


------------

27
 Vietnam
1,035,051


------------

28
 Netherlands
935,911


------------

29
 Argentina
864,887


------------

30
 Bangladesh
860,916


------------

31
 Colombia
771,957


------------

32
 South Africa
762,826


------------

33
 United Arab Emirates
722,670


------------

34
 Iraq
679,098


------------

35
 Algeria
638,363


------------

36
 Singapore
576,839


------------

37
 Belgium
536,621


------------

38
  Switzerland
535,832


------------

39
 Kazakhstan
530,646


------------

40
 Sweden
529,778


------------

41
 Romania
525,051


------------

42
 Chile
475,964


------------

—
 Hong Kong
461,894


------------

43
 Peru
457,320


------------

44
 Austria
446,265


------------

45
 Ireland
392,014


------------

46
 Czech Republic
388,587


------------

47
 Norway
384,298


------------

48
 Ukraine
380,545


------------

49
 Myanmar
366,079


------------

50
 Qatar
345,455


------------

51
 Israel
334,675


------------

52
 Hungary
327,410


------------

53
 Portugal
321,199


------------

54
 Morocco
317,001


------------

55
 Uzbekistan
310,738


------------

56
 Kuwait
307,193


------------

57
 Sri Lanka
304,458


------------

58
 Denmark
300,621


------------

59
 Greece
293,009


------------

60
 Ethiopia
253,102


------------

61
 Finland
251,431


------------

62
 Ghana
209,179


------------

63
 Oman
200,203


------------

64
 Angola
199,329


------------

65
 Dominican Republic
198,725


------------

66
 Tanzania
198,652


------------

67
 New Zealand
194,919


------------

68
 Kenya
194,401


------------

69
 Ecuador
192,056


------------

70
 Slovakia
187,264


------------

71
 Belarus
184,593


------------

72
 Azerbaijan
184,418


------------

73
 Bulgaria
165,130


------------

74
 Sudan
163,606


------------

75
 Côte d'Ivoire
163,594


------------

76
 Guatemala
150,731


------------

77
 Tunisia
143,234


------------

78
 Serbia
127,096


------------

79
 Turkmenistan
124,884


------------

—
 Puerto Rico
123,851


------------

80
 Uganda
123,653


------------

81
 Panama
110,399


------------

82
 Croatia
103,111


------------

83
 Cameroon
100,013


------------

84
   Nepal
97,365


------------

85
 Paraguay
95,949


------------

86
 Lithuania
95,286


------------

87
 Jordan
93,256


------------

88
 Bolivia
91,225


------------

89
 Costa Rica
89,597


------------

90
 Congo, Democratic Republic of the
81,806


------------

91
 Uruguay
80,817


------------

92
 Cambodia
76,218


------------

93
 Afghanistan
74,792


------------

94
 Bahrain
74,649


------------

95
 Lebanon
74,628


------------

96
 Zambia
73,662


------------

97
 Slovenia
73,276


------------

98
 Yemen
70,414


------------

99
 Senegal
66,438


------------

100
 Luxembourg
65,868


------------

101
 Laos
57,912


------------

102
 Latvia
54,700


------------

—
 Macau
53,662


------------

103
 Madagascar
53,409


------------

104
 El Salvador
52,888


------------

105
 Honduras
50,496


------------

106
 Burkina Faso
48,553


------------

107
 Mali
48,443


------------

108
 Bosnia and Herzegovina
47,540


------------

109
 Mongolia
46,550


------------

110
 Georgia
46,286


------------

111
 Mozambique
45,990


------------

112
 Estonia
44,503


------------

113
 Trinidad and Tobago
43,178


------------

114
 Benin
42,749


------------

115
 Botswana
41,809


------------

116
 Gabon
39,584


------------

117
 Albania
38,078


------------

118
 Brunei
37,342


------------

119
 Zimbabwe
37,039


------------

120
 Niger
35,211


------------

121
 Libya
34,753


------------

122
 Cyprus
34,745


------------

123
 Tajikistan
34,692


------------

124
 Guinea
34,585


------------

125
 Papua New Guinea
34,502


------------

126
 North Macedonia
33,517


------------

127
 Armenia
33,141


------------

128
 Nicaragua
32,991


------------

129
 Rwanda
32,258


------------

130
 Chad
32,065


------------

131
 Congo, Republic of the
30,702


------------

132
 Mauritius
29,631


------------

133
 Equatorial Guinea
26,828


------------

134
 Moldova
26,642


------------

135
 Jamaica
26,516


------------

136
 Namibia
26,261


------------

137
 Malawi
25,570


------------

138
 Kyrgyzstan
25,187


------------

139
 Mauritania
25,109


------------

140
 South Sudan
23,320


------------

141
 Malta
22,496


------------

—
 Kosovo
21,155


------------

142
 Haiti
20,135


------------

143
 Iceland
18,720


------------

144
 Togo
15,217


------------

145
 Sierra Leone
12,868


------------

146
 Somalia
12,417


------------

147
 Eswatini
12,368


------------

148
 Bahamas
11,807


------------

149
 Montenegro
11,549


------------

150
 Guyana
10,989


------------

151
 Fiji
10,078


------------

152
 Suriname
8,956


------------

153
 Burundi
8,281


------------

154
 Bhutan
8,200


------------

155
 Maldives
7,839


------------

156
 Eritrea
6,640


------------

157
 Gambia, The
6,614


------------

158
 Lesotho
6,593


------------

159
 Djibouti
6,362


------------

160
 Liberia
6,160


------------

161
 Barbados
5,051


------------

162
 Central African Republic
4,270


------------

163
 Cape Verde
4,194


------------

164
 Aruba
3,883


------------

165
 Guinea-Bissau
3,664


------------

166
 Belize
2,974


------------

167
 Seychelles
2,746


------------

168
 St. Lucia
2,702


------------

169
 Timor-Leste
2,613


------------

170
 Comoros
2,516


------------

171
 Antigua and Barbuda
2,506


------------

172
 San Marino
1,842


------------

173
 Grenada
1,681


------------

174
 St. Kitts and Nevis
1,532


------------

175
 Solomon Islands
1,433


------------

176
 St. Vincent and the Grenadines
1,327


------------

177
 Samoa
1,132


------------

178
 Vanuatu
829


------------

179
 Dominica
813


------------

180
 São Tomé and Príncipe
705


------------

181
 Tonga
620


------------

182
 Micronesia
363


------------

183
 Palau
256


------------

184
 Kiribati
253


------------

185
 Marshall Islands
211


------------

186
 Nauru
124


------------

187
 Tuvalu
49


------------

Rank
Country/Territory
GDP(millions of current Int$)

------------

In [4]:
i=1
for row in rows[4:198]:
    print(f"Row number: {i}")
    cells = row.find_all('td')
    for cell in cells:
        tekst = cell.text.strip()
        tekst.replace(" ", "")
        print(tekst)
        print('++++++++')
    print('------------')

Row number: 1
1
++++++++
China
++++++++
27,804,953
++++++++

++++++++
------------
Row number: 1
2
++++++++
United States
++++++++
20,289,987
++++++++

++++++++
------------
Row number: 1
—
++++++++
European Union[n 2]
++++++++
18,377,114
++++++++
[10]
++++++++
------------
Row number: 1
3
++++++++
India
++++++++
11,321,280
++++++++

++++++++
------------
Row number: 1
4
++++++++
Japan
++++++++
5,451,452
++++++++

++++++++
------------
Row number: 1
5
++++++++
Russia
++++++++
4,176,350
++++++++

++++++++
------------
Row number: 1
6
++++++++
Germany
++++++++
4,160,925
++++++++

++++++++
------------
Row number: 1
7
++++++++
Indonesia
++++++++
3,778,134
++++++++

++++++++
------------
Row number: 1
8
++++++++
Brazil
++++++++
3,316,920
++++++++

++++++++
------------
Row number: 1
9
++++++++
United Kingdom
++++++++
2,975,557
++++++++

++++++++
------------
Row number: 1
10
++++++++
France
++++++++
2,860,018
++++++++

++++++++
------------
Row number: 1
11
++++++++
Mexico
++++++++
2,458,339
++++++++

++++++++
------------
Row number: 1
12
++++++++
Korea, South
++++++++
2,307,718
++++++++

++++++++
------------
Row number: 1
13
++++++++
Turkey
++++++++
2,257,987
++++++++

++++++++
------------
Row number: 1
14
++++++++
Italy
++++++++
2,244,767
++++++++

++++++++
------------
Row number: 1
15
++++++++
Saudi Arabia
++++++++
1,869,288
++++++++

++++++++
------------
Row number: 1
16
++++++++
Canada
++++++++
1,797,170
++++++++

++++++++
------------
Row number: 1
17
++++++++
Spain
++++++++
1,780,996
++++++++

++++++++
------------
Row number: 1
18
++++++++
Egypt
++++++++
1,427,432
++++++++

++++++++
------------
Row number: 1
19
++++++++
Iran
++++++++
1,411,093
++++++++

++++++++
------------
Row number: 1
—
++++++++
Taiwan
++++++++
1,293,972
++++++++

++++++++
------------
Row number: 1
20
++++++++
Thailand
++++++++
1,293,924
++++++++

++++++++
------------
Row number: 1
21
++++++++
Australia
++++++++
1,279,361
++++++++

++++++++
------------
Row number: 1
22
++++++++
Poland
++++++++
1,236,132
++++++++

++++++++
------------
Row number: 1
23
++++++++
Pakistan
++++++++
1,190,555
++++++++

++++++++
------------
Row number: 1
24
++++++++
Nigeria
++++++++
1,181,399
++++++++

++++++++
------------
Row number: 1
25
++++++++
Malaysia
++++++++
1,064,795
++++++++

++++++++
------------
Row number: 1
26
++++++++
Philippines
++++++++
1,040,413
++++++++

++++++++
------------
Row number: 1
27
++++++++
Vietnam
++++++++
1,035,051
++++++++

++++++++
------------
Row number: 1
28
++++++++
Netherlands
++++++++
935,911
++++++++

++++++++
------------
Row number: 1
29
++++++++
Argentina
++++++++
864,887
++++++++

++++++++
------------
Row number: 1
30
++++++++
Bangladesh
++++++++
860,916
++++++++

++++++++
------------
Row number: 1
31
++++++++
Colombia
++++++++
771,957
++++++++

++++++++
------------
Row number: 1
32
++++++++
South Africa
++++++++
762,826
++++++++

++++++++
------------
Row number: 1
33
++++++++
United Arab Emirates
++++++++
722,670
++++++++

++++++++
------------
Row number: 1
34
++++++++
Iraq
++++++++
679,098
++++++++

++++++++
------------
Row number: 1
35
++++++++
Algeria
++++++++
638,363
++++++++

++++++++
------------
Row number: 1
36
++++++++
Singapore
++++++++
576,839
++++++++

++++++++
------------
Row number: 1
37
++++++++
Belgium
++++++++
536,621
++++++++

++++++++
------------
Row number: 1
38
++++++++
Switzerland
++++++++
535,832
++++++++

++++++++
------------
Row number: 1
39
++++++++
Kazakhstan
++++++++
530,646
++++++++

++++++++
------------
Row number: 1
40
++++++++
Sweden
++++++++
529,778
++++++++

++++++++
------------
Row number: 1
41
++++++++
Romania
++++++++
525,051
++++++++

++++++++
------------
Row number: 1
42
++++++++
Chile
++++++++
475,964
++++++++

++++++++
------------
Row number: 1
—
++++++++
Hong Kong
++++++++
461,894
++++++++

++++++++
------------
Row number: 1
43
++++++++
Peru
++++++++
457,320
++++++++

++++++++
------------
Row number: 1
44
++++++++
Austria
++++++++
446,265
++++++++

++++++++
------------
Row number: 1
45
++++++++
Ireland
++++++++
392,014
++++++++

++++++++
------------
Row number: 1
46
++++++++
Czech Republic
++++++++
388,587
++++++++

++++++++
------------
Row number: 1
47
++++++++
Norway
++++++++
384,298
++++++++

++++++++
------------
Row number: 1
48
++++++++
Ukraine
++++++++
380,545
++++++++

++++++++
------------
Row number: 1
49
++++++++
Myanmar
++++++++
366,079
++++++++

++++++++
------------
Row number: 1
50
++++++++
Qatar
++++++++
345,455
++++++++

++++++++
------------
Row number: 1
51
++++++++
Israel
++++++++
334,675
++++++++

++++++++
------------
Row number: 1
52
++++++++
Hungary
++++++++
327,410
++++++++

++++++++
------------
Row number: 1
53
++++++++
Portugal
++++++++
321,199
++++++++

++++++++
------------
Row number: 1
54
++++++++
Morocco
++++++++
317,001
++++++++

++++++++
------------
Row number: 1
55
++++++++
Uzbekistan
++++++++
310,738
++++++++

++++++++
------------
Row number: 1
56
++++++++
Kuwait
++++++++
307,193
++++++++

++++++++
------------
Row number: 1
57
++++++++
Sri Lanka
++++++++
304,458
++++++++

++++++++
------------
Row number: 1
58
++++++++
Denmark
++++++++
300,621
++++++++

++++++++
------------
Row number: 1
59
++++++++
Greece
++++++++
293,009
++++++++

++++++++
------------
Row number: 1
60
++++++++
Ethiopia
++++++++
253,102
++++++++

++++++++
------------
Row number: 1
61
++++++++
Finland
++++++++
251,431
++++++++

++++++++
------------
Row number: 1
62
++++++++
Ghana
++++++++
209,179
++++++++

++++++++
------------
Row number: 1
63
++++++++
Oman
++++++++
200,203
++++++++

++++++++
------------
Row number: 1
64
++++++++
Angola
++++++++
199,329
++++++++

++++++++
------------
Row number: 1
65
++++++++
Dominican Republic
++++++++
198,725
++++++++

++++++++
------------
Row number: 1
66
++++++++
Tanzania
++++++++
198,652
++++++++

++++++++
------------
Row number: 1
67
++++++++
New Zealand
++++++++
194,919
++++++++

++++++++
------------
Row number: 1
68
++++++++
Kenya
++++++++
194,401
++++++++

++++++++
------------
Row number: 1
69
++++++++
Ecuador
++++++++
192,056
++++++++

++++++++
------------
Row number: 1
70
++++++++
Slovakia
++++++++
187,264
++++++++

++++++++
------------
Row number: 1
71
++++++++
Belarus
++++++++
184,593
++++++++

++++++++
------------
Row number: 1
72
++++++++
Azerbaijan
++++++++
184,418
++++++++

++++++++
------------
Row number: 1
73
++++++++
Bulgaria
++++++++
165,130
++++++++

++++++++
------------
Row number: 1
74
++++++++
Sudan
++++++++
163,606
++++++++

++++++++
------------
Row number: 1
75
++++++++
Côte d'Ivoire
++++++++
163,594
++++++++

++++++++
------------
Row number: 1
76
++++++++
Guatemala
++++++++
150,731
++++++++

++++++++
------------
Row number: 1
77
++++++++
Tunisia
++++++++
143,234
++++++++

++++++++
------------
Row number: 1
78
++++++++
Serbia
++++++++
127,096
++++++++

++++++++
------------
Row number: 1
79
++++++++
Turkmenistan
++++++++
124,884
++++++++

++++++++
------------
Row number: 1
—
++++++++
Puerto Rico
++++++++
123,851
++++++++

++++++++
------------
Row number: 1
80
++++++++
Uganda
++++++++
123,653
++++++++

++++++++
------------
Row number: 1
81
++++++++
Panama
++++++++
110,399
++++++++

++++++++
------------
Row number: 1
82
++++++++
Croatia
++++++++
103,111
++++++++

++++++++
------------
Row number: 1
83
++++++++
Cameroon
++++++++
100,013
++++++++

++++++++
------------
Row number: 1
84
++++++++
Nepal
++++++++
97,365
++++++++

++++++++
------------
Row number: 1
85
++++++++
Paraguay
++++++++
95,949
++++++++

++++++++
------------
Row number: 1
86
++++++++
Lithuania
++++++++
95,286
++++++++

++++++++
------------
Row number: 1
87
++++++++
Jordan
++++++++
93,256
++++++++

++++++++
------------
Row number: 1
88
++++++++
Bolivia
++++++++
91,225
++++++++

++++++++
------------
Row number: 1
89
++++++++
Costa Rica
++++++++
89,597
++++++++

++++++++
------------
Row number: 1
90
++++++++
Congo, Democratic Republic of the
++++++++
81,806
++++++++

++++++++
------------
Row number: 1
91
++++++++
Uruguay
++++++++
80,817
++++++++

++++++++
------------
Row number: 1
92
++++++++
Cambodia
++++++++
76,218
++++++++

++++++++
------------
Row number: 1
93
++++++++
Afghanistan
++++++++
74,792
++++++++

++++++++
------------
Row number: 1
94
++++++++
Bahrain
++++++++
74,649
++++++++

++++++++
------------
Row number: 1
95
++++++++
Lebanon
++++++++
74,628
++++++++

++++++++
------------
Row number: 1
96
++++++++
Zambia
++++++++
73,662
++++++++

++++++++
------------
Row number: 1
97
++++++++
Slovenia
++++++++
73,276
++++++++

++++++++
------------
Row number: 1
98
++++++++
Yemen
++++++++
70,414
++++++++

++++++++
------------
Row number: 1
99
++++++++
Senegal
++++++++
66,438
++++++++

++++++++
------------
Row number: 1
100
++++++++
Luxembourg
++++++++
65,868
++++++++

++++++++
------------
Row number: 1
101
++++++++
Laos
++++++++
57,912
++++++++

++++++++
------------
Row number: 1
102
++++++++
Latvia
++++++++
54,700
++++++++

++++++++
------------
Row number: 1
—
++++++++
Macau
++++++++
53,662
++++++++

++++++++
------------
Row number: 1
103
++++++++
Madagascar
++++++++
53,409
++++++++

++++++++
------------
Row number: 1
104
++++++++
El Salvador
++++++++
52,888
++++++++

++++++++
------------
Row number: 1
105
++++++++
Honduras
++++++++
50,496
++++++++

++++++++
------------
Row number: 1
106
++++++++
Burkina Faso
++++++++
48,553
++++++++

++++++++
------------
Row number: 1
107
++++++++
Mali
++++++++
48,443
++++++++

++++++++
------------
Row number: 1
108
++++++++
Bosnia and Herzegovina
++++++++
47,540
++++++++

++++++++
------------
Row number: 1
109
++++++++
Mongolia
++++++++
46,550
++++++++

++++++++
------------
Row number: 1
110
++++++++
Georgia
++++++++
46,286
++++++++

++++++++
------------
Row number: 1
111
++++++++
Mozambique
++++++++
45,990
++++++++

++++++++
------------
Row number: 1
112
++++++++
Estonia
++++++++
44,503
++++++++

++++++++
------------
Row number: 1
113
++++++++
Trinidad and Tobago
++++++++
43,178
++++++++

++++++++
------------
Row number: 1
114
++++++++
Benin
++++++++
42,749
++++++++

++++++++
------------
Row number: 1
115
++++++++
Botswana
++++++++
41,809
++++++++

++++++++
------------
Row number: 1
116
++++++++
Gabon
++++++++
39,584
++++++++

++++++++
------------
Row number: 1
117
++++++++
Albania
++++++++
38,078
++++++++

++++++++
------------
Row number: 1
118
++++++++
Brunei
++++++++
37,342
++++++++

++++++++
------------
Row number: 1
119
++++++++
Zimbabwe
++++++++
37,039
++++++++

++++++++
------------
Row number: 1
120
++++++++
Niger
++++++++
35,211
++++++++

++++++++
------------
Row number: 1
121
++++++++
Libya
++++++++
34,753
++++++++

++++++++
------------
Row number: 1
122
++++++++
Cyprus
++++++++
34,745
++++++++

++++++++
------------
Row number: 1
123
++++++++
Tajikistan
++++++++
34,692
++++++++

++++++++
------------
Row number: 1
124
++++++++
Guinea
++++++++
34,585
++++++++

++++++++
------------
Row number: 1
125
++++++++
Papua New Guinea
++++++++
34,502
++++++++

++++++++
------------
Row number: 1
126
++++++++
North Macedonia
++++++++
33,517
++++++++

++++++++
------------
Row number: 1
127
++++++++
Armenia
++++++++
33,141
++++++++

++++++++
------------
Row number: 1
128
++++++++
Nicaragua
++++++++
32,991
++++++++

++++++++
------------
Row number: 1
129
++++++++
Rwanda
++++++++
32,258
++++++++

++++++++
------------
Row number: 1
130
++++++++
Chad
++++++++
32,065
++++++++

++++++++
------------
Row number: 1
131
++++++++
Congo, Republic of the
++++++++
30,702
++++++++

++++++++
------------
Row number: 1
132
++++++++
Mauritius
++++++++
29,631
++++++++

++++++++
------------
Row number: 1
133
++++++++
Equatorial Guinea
++++++++
26,828
++++++++

++++++++
------------
Row number: 1
134
++++++++
Moldova
++++++++
26,642
++++++++

++++++++
------------
Row number: 1
135
++++++++
Jamaica
++++++++
26,516
++++++++

++++++++
------------
Row number: 1
136
++++++++
Namibia
++++++++
26,261
++++++++

++++++++
------------
Row number: 1
137
++++++++
Malawi
++++++++
25,570
++++++++

++++++++
------------
Row number: 1
138
++++++++
Kyrgyzstan
++++++++
25,187
++++++++

++++++++
------------
Row number: 1
139
++++++++
Mauritania
++++++++
25,109
++++++++

++++++++
------------
Row number: 1
140
++++++++
South Sudan
++++++++
23,320
++++++++

++++++++
------------
Row number: 1
141
++++++++
Malta
++++++++
22,496
++++++++

++++++++
------------
Row number: 1
—
++++++++
Kosovo
++++++++
21,155
++++++++

++++++++
------------
Row number: 1
142
++++++++
Haiti
++++++++
20,135
++++++++

++++++++
------------
Row number: 1
143
++++++++
Iceland
++++++++
18,720
++++++++

++++++++
------------
Row number: 1
144
++++++++
Togo
++++++++
15,217
++++++++

++++++++
------------
Row number: 1
145
++++++++
Sierra Leone
++++++++
12,868
++++++++

++++++++
------------
Row number: 1
146
++++++++
Somalia
++++++++
12,417
++++++++

++++++++
------------
Row number: 1
147
++++++++
Eswatini
++++++++
12,368
++++++++

++++++++
------------
Row number: 1
148
++++++++
Bahamas
++++++++
11,807
++++++++

++++++++
------------
Row number: 1
149
++++++++
Montenegro
++++++++
11,549
++++++++

++++++++
------------
Row number: 1
150
++++++++
Guyana
++++++++
10,989
++++++++

++++++++
------------
Row number: 1
151
++++++++
Fiji
++++++++
10,078
++++++++

++++++++
------------
Row number: 1
152
++++++++
Suriname
++++++++
8,956
++++++++

++++++++
------------
Row number: 1
153
++++++++
Burundi
++++++++
8,281
++++++++

++++++++
------------
Row number: 1
154
++++++++
Bhutan
++++++++
8,200
++++++++

++++++++
------------
Row number: 1
155
++++++++
Maldives
++++++++
7,839
++++++++

++++++++
------------
Row number: 1
156
++++++++
Eritrea
++++++++
6,640
++++++++

++++++++
------------
Row number: 1
157
++++++++
Gambia, The
++++++++
6,614
++++++++

++++++++
------------
Row number: 1
158
++++++++
Lesotho
++++++++
6,593
++++++++

++++++++
------------
Row number: 1
159
++++++++
Djibouti
++++++++
6,362
++++++++

++++++++
------------
Row number: 1
160
++++++++
Liberia
++++++++
6,160
++++++++

++++++++
------------
Row number: 1
161
++++++++
Barbados
++++++++
5,051
++++++++

++++++++
------------
Row number: 1
162
++++++++
Central African Republic
++++++++
4,270
++++++++

++++++++
------------
Row number: 1
163
++++++++
Cape Verde
++++++++
4,194
++++++++

++++++++
------------
Row number: 1
164
++++++++
Aruba
++++++++
3,883
++++++++

++++++++
------------
Row number: 1
165
++++++++
Guinea-Bissau
++++++++
3,664
++++++++

++++++++
------------
Row number: 1
166
++++++++
Belize
++++++++
2,974
++++++++

++++++++
------------
Row number: 1
167
++++++++
Seychelles
++++++++
2,746
++++++++

++++++++
------------
Row number: 1
168
++++++++
St. Lucia
++++++++
2,702
++++++++

++++++++
------------
Row number: 1
169
++++++++
Timor-Leste
++++++++
2,613
++++++++

++++++++
------------
Row number: 1
170
++++++++
Comoros
++++++++
2,516
++++++++

++++++++
------------
Row number: 1
171
++++++++
Antigua and Barbuda
++++++++
2,506
++++++++

++++++++
------------
Row number: 1
172
++++++++
San Marino
++++++++
1,842
++++++++

++++++++
------------
Row number: 1
173
++++++++
Grenada
++++++++
1,681
++++++++

++++++++
------------
Row number: 1
174
++++++++
St. Kitts and Nevis
++++++++
1,532
++++++++

++++++++
------------
Row number: 1
175
++++++++
Solomon Islands
++++++++
1,433
++++++++

++++++++
------------
Row number: 1
176
++++++++
St. Vincent and the Grenadines
++++++++
1,327
++++++++

++++++++
------------
Row number: 1
177
++++++++
Samoa
++++++++
1,132
++++++++

++++++++
------------
Row number: 1
178
++++++++
Vanuatu
++++++++
829
++++++++

++++++++
------------
Row number: 1
179
++++++++
Dominica
++++++++
813
++++++++

++++++++
------------
Row number: 1
180
++++++++
São Tomé and Príncipe
++++++++
705
++++++++

++++++++
------------
Row number: 1
181
++++++++
Tonga
++++++++
620
++++++++

++++++++
------------
Row number: 1
182
++++++++
Micronesia
++++++++
363
++++++++

++++++++
------------
Row number: 1
183
++++++++
Palau
++++++++
256
++++++++

++++++++
------------
Row number: 1
184
++++++++
Kiribati
++++++++
253
++++++++

++++++++
------------
Row number: 1
185
++++++++
Marshall Islands
++++++++
211
++++++++

++++++++
------------
Row number: 1
186
++++++++
Nauru
++++++++
124
++++++++

++++++++
------------
Row number: 1
187
++++++++
Tuvalu
++++++++
49
++++++++

++++++++
------------
Row number: 1
------------

In [5]:
rank_IMF = [row.find_all('td')[0].text.strip() for row in rows[4:197]]

In [6]:
print(rank_IMF)

['1', '2', '—', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '—', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '—', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '—', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '—', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '—', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187']

In [7]:
country_IMF = [row.find_all('td')[1].text.strip() for row in rows[4:197]]

In [8]:
print(country_IMF)

['China', 'United States', 'European Union[n 2]', 'India', 'Japan', 'Russia', 'Germany', 'Indonesia', 'Brazil', 'United Kingdom', 'France', 'Mexico', 'Korea, South', 'Turkey', 'Italy', 'Saudi Arabia', 'Canada', 'Spain', 'Egypt', 'Iran', 'Taiwan', 'Thailand', 'Australia', 'Poland', 'Pakistan', 'Nigeria', 'Malaysia', 'Philippines', 'Vietnam', 'Netherlands', 'Argentina', 'Bangladesh', 'Colombia', 'South Africa', 'United Arab Emirates', 'Iraq', 'Algeria', 'Singapore', 'Belgium', 'Switzerland', 'Kazakhstan', 'Sweden', 'Romania', 'Chile', 'Hong Kong', 'Peru', 'Austria', 'Ireland', 'Czech Republic', 'Norway', 'Ukraine', 'Myanmar', 'Qatar', 'Israel', 'Hungary', 'Portugal', 'Morocco', 'Uzbekistan', 'Kuwait', 'Sri Lanka', 'Denmark', 'Greece', 'Ethiopia', 'Finland', 'Ghana', 'Oman', 'Angola', 'Dominican Republic', 'Tanzania', 'New Zealand', 'Kenya', 'Ecuador', 'Slovakia', 'Belarus', 'Azerbaijan', 'Bulgaria', 'Sudan', "Côte d'Ivoire", 'Guatemala', 'Tunisia', 'Serbia', 'Turkmenistan', 'Puerto Rico', 'Uganda', 'Panama', 'Croatia', 'Cameroon', 'Nepal', 'Paraguay', 'Lithuania', 'Jordan', 'Bolivia', 'Costa Rica', 'Congo, Democratic Republic of the', 'Uruguay', 'Cambodia', 'Afghanistan', 'Bahrain', 'Lebanon', 'Zambia', 'Slovenia', 'Yemen', 'Senegal', 'Luxembourg', 'Laos', 'Latvia', 'Macau', 'Madagascar', 'El Salvador', 'Honduras', 'Burkina Faso', 'Mali', 'Bosnia and Herzegovina', 'Mongolia', 'Georgia', 'Mozambique', 'Estonia', 'Trinidad and Tobago', 'Benin', 'Botswana', 'Gabon', 'Albania', 'Brunei', 'Zimbabwe', 'Niger', 'Libya', 'Cyprus', 'Tajikistan', 'Guinea', 'Papua New Guinea', 'North Macedonia', 'Armenia', 'Nicaragua', 'Rwanda', 'Chad', 'Congo, Republic of the', 'Mauritius', 'Equatorial Guinea', 'Moldova', 'Jamaica', 'Namibia', 'Malawi', 'Kyrgyzstan', 'Mauritania', 'South Sudan', 'Malta', 'Kosovo', 'Haiti', 'Iceland', 'Togo', 'Sierra Leone', 'Somalia', 'Eswatini', 'Bahamas', 'Montenegro', 'Guyana', 'Fiji', 'Suriname', 'Burundi', 'Bhutan', 'Maldives', 'Eritrea', 'Gambia, The', 'Lesotho', 'Djibouti', 'Liberia', 'Barbados', 'Central African Republic', 'Cape Verde', 'Aruba', 'Guinea-Bissau', 'Belize', 'Seychelles', 'St. Lucia', 'Timor-Leste', 'Comoros', 'Antigua and Barbuda', 'San Marino', 'Grenada', 'St. Kitts and Nevis', 'Solomon Islands', 'St. Vincent and the Grenadines', 'Samoa', 'Vanuatu', 'Dominica', 'São Tomé and Príncipe', 'Tonga', 'Micronesia', 'Palau', 'Kiribati', 'Marshall Islands', 'Nauru', 'Tuvalu']

In [9]:
gdp_IMF = [row.find_all('td')[2].text.strip() for row in rows[4:197]]

In [10]:
print(gdp_IMF)

['27,804,953', '20,289,987', '18,377,114', '11,321,280', '5,451,452', '4,176,350', '4,160,925', '3,778,134', '3,316,920', '2,975,557', '2,860,018', '2,458,339', '2,307,718', '2,257,987', '2,244,767', '1,869,288', '1,797,170', '1,780,996', '1,427,432', '1,411,093', '1,293,972', '1,293,924', '1,279,361', '1,236,132', '1,190,555', '1,181,399', '1,064,795', '1,040,413', '1,035,051', '935,911', '864,887', '860,916', '771,957', '762,826', '722,670', '679,098', '638,363', '576,839', '536,621', '535,832', '530,646', '529,778', '525,051', '475,964', '461,894', '457,320', '446,265', '392,014', '388,587', '384,298', '380,545', '366,079', '345,455', '334,675', '327,410', '321,199', '317,001', '310,738', '307,193', '304,458', '300,621', '293,009', '253,102', '251,431', '209,179', '200,203', '199,329', '198,725', '198,652', '194,919', '194,401', '192,056', '187,264', '184,593', '184,418', '165,130', '163,606', '163,594', '150,731', '143,234', '127,096', '124,884', '123,851', '123,653', '110,399', '103,111', '100,013', '97,365', '95,949', '95,286', '93,256', '91,225', '89,597', '81,806', '80,817', '76,218', '74,792', '74,649', '74,628', '73,662', '73,276', '70,414', '66,438', '65,868', '57,912', '54,700', '53,662', '53,409', '52,888', '50,496', '48,553', '48,443', '47,540', '46,550', '46,286', '45,990', '44,503', '43,178', '42,749', '41,809', '39,584', '38,078', '37,342', '37,039', '35,211', '34,753', '34,745', '34,692', '34,585', '34,502', '33,517', '33,141', '32,991', '32,258', '32,065', '30,702', '29,631', '26,828', '26,642', '26,516', '26,261', '25,570', '25,187', '25,109', '23,320', '22,496', '21,155', '20,135', '18,720', '15,217', '12,868', '12,417', '12,368', '11,807', '11,549', '10,989', '10,078', '8,956', '8,281', '8,200', '7,839', '6,640', '6,614', '6,593', '6,362', '6,160', '5,051', '4,270', '4,194', '3,883', '3,664', '2,974', '2,746', '2,702', '2,613', '2,516', '2,506', '1,842', '1,681', '1,532', '1,433', '1,327', '1,132', '829', '813', '705', '620', '363', '256', '253', '211', '124', '49']

In [11]:
import pandas as pd

In [12]:
table = {'Rank' : rank_IMF,
         'Country/Territory' : country_IMF,
         'GDP(millions of $)' : gdp_IMF}

In [13]:
list_by_IMF = pd.DataFrame(table, columns = ['Rank', 'Country/Territory', 'GDP(millions of $)'])

In [14]:
print(list_by_IMF)

    Rank    Country/Territory GDP(millions of $)
0      1                China         27,804,953
1      2        United States         20,289,987
2      —  European Union[n 2]         18,377,114
3      3                India         11,321,280
4      4                Japan          5,451,452
..   ...                  ...                ...
188  183                Palau                256
189  184             Kiribati                253
190  185     Marshall Islands                211
191  186                Nauru                124
192  187               Tuvalu                 49

[193 rows x 3 columns]